img {
  display: block;
  max-width: 100%;
  transform: scaleX(-1);
}

svg {
  cursor: pointer;
}

.fixed > svg {
  font-size: 2em;

  cursor: pointer;
}

.cart-icon {
  position: relative;
  color: white;
  background-color: black;
}

.cart-icon2 {
  color: black;
  background-color: white;
  border-radius: 14px;
}

.heart-icon {
  position: absolute;
  color: red;
  bottom: 1em;
  right: 3em;
}

.cart-count {
  position: absolute;
  cursor: pointer;
  top: 3px;
  left: 0.8em;
  right: 0;
  bottom: 0;
}
/* sneakers */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  grid-auto-rows: auto;
  gap: 1em;
  place-content: start center;
}

.sidebar {
  transition: flex-basis 0.2s linear 0.2s;
  overflow: scroll;
  height: 30em;
}

.color-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 4.5em);
  grid-auto-rows: auto;
  place-content: start center;
}

.color-button {
  margin-inline: auto;
  padding: 1em;
  border-radius: 50%;
}

.size-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 4em);
  grid-auto-rows: auto;
  gap: 0.5em;
}

.favorite {
  background: red;
}
.size-gallery > div > button {
  margin-bottom: 0;
}
.card {
  position: relative;
  cursor: pointer;
}

/* cart */
.cart-item-image {
  flex-basis: 7em;
}
.cart-item-details {
  flex: 1;
}

.cart-x-button {
  text-align: right;
}

.cart-button {
  padding: 0 0.5em;
}
article {
  min-width: 25em;
  max-width: 25em;
}

/* Modal */
.modal-img > img {
  max-width: 25em;
}
.modal-card {
  max-width: 50em;
}

.modal-details {
  gap: 1em;
  height: 25em;
  overflow-y: scroll;
}

.size-gallery2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 31%);
  grid-auto-rows: auto;
  gap: 0.25em;
  place-content: center;
}

/* UTILITY CLASSES */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;
}

.flex1 {
  flex: 1;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
  top: 0;
  transition: right 0.4s;
  z-index: 1;
}

.scrollable {
  overflow: scroll;

  height: 25em;
}

.scrollable::-webkit-scrollbar,
.sidebar::-webkit-scrollbar,
.modal-details::-webkit-scrollbar {
  display: none;
}
